:root {
  --bg: #ffecaa;
  --text-color: #000000;
  --font-family: "Ubuntu Mono", monospace;
}

*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--bg);
  font-family: var(--font-family);
  font-weight: 400;
  line-height: 35px;
  overflow-x: hidden;
}

body::before {
    content: "";
    width: 100vw;
    height: 100vh;
    background-image: url("images/curve-bg.png");
    background-size: 100vw;
    background-repeat: no-repeat;
    z-index: -1;
    position: absolute;
    top: 0px;
    left: 0px;
}

a {
  color: var(--text-color);
  text-decoration: underline;
  font-weight: 700;
}

#main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 6rem;
}

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  padding: 8rem 0;
}

#title {
  font-size: 4rem;
  font-weight: 700;
  text-align: center;
  font-style: italic;
}

#subtitle {
  text-align: center;
  font-size: 2.2rem;
}

#img-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

#img-div img {
  max-width: 100%;
  height: auto;
  width: 60rem;
  border: 6px solid #ffffff;
}

#img-div figcaption {
  font-size: 1.6rem;
  text-align: center;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#tribute-info {
  max-width: 90%;
  background-color: #ffffff;
  padding: 4rem 6rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 2rem;
}

#tribute-info p {
  font-size: 1.8rem;
}

.more-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.more-info p {
  font-size: 1.8rem;
  text-align: center;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  gap: 1rem;
}

footer p {
  font-size: 1.5rem;
  text-align: center;
}
